*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0 0 5px 0;
}
a{
    text-decoration: none;
    color: inherit;
}
html{
    font-size: 16px;
    height: 100%;
}
body{
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100%;
}
table{
    margin: 0 auto;
}
i{
    font-size: 24px !important;
    vertical-align: text-bottom;
}
input, select{
    border: 1px solid rgba(0,0,0,.6);
	background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 2.5px;
}
header{
    position: relative;
    height: 86px;
    background: scroll #BAD9D4 url("/images/upper-cover.jpg") no-repeat;
    background-size: contain;
    background-position-x: center;
    text-align: center;
}
header a{
    margin-right: 5px;
    border-bottom: #595959 solid 2px;
}
header a:first-child{
    margin-left: 5px;
}
header a:last-child{
    margin-right: 0;
}
header a:hover{
    border-color: black;
}
header .headerwrap{
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    bottom: 5px;
    left: 0;
    width: 100%;
}
.wrap{
    position: relative;
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    background-color: #eeeeee;
}
.menu{
    position: absolute;
    height: 100%;
    background-color: #BAD9D4;
    display: none;
    flex-flow: column nowrap;
    padding: 20px;
    z-index: 2;
}
.menu a{
    border-bottom: #595959 solid 2px;
}
.menu a:hover{
    border-color: black;
}
.content{
    flex: 1;
    width: 100%;
    overflow: hidden;
    padding: 20px;
}
.content a{
    color: #880E4F;
    background-color: #F8BBD0;
    border-bottom: #880E4F dashed 2px;
}
.content .price{
    color: #1B5E20;
    border-bottom: #1B5E20 dashed 2px;
    background-color: #c8e6c9;
}
.sell{
    display: flex;
    flex-flow: column nowrap;
}
.sellControls{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    background-color: #4caf50;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    padding: 5px;
}
.sellView{
    display: flex;
    background-color: #ffffff;
    flex-flow: row wrap;
	justify-content: space-between; 
    padding: 20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2);
}
.goodie{
    width: 250px;
    position: relative;
    display: flex;
    padding: 20px;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 5px;
    border: black solid 1px;
    border-radius: 8px;
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, .2);
    margin-right: 5px;
}
.goodieBody{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}
.goodieInfo{
    display: none;
}
.goodieThumb img{
    display: block;
    max-height: 100%;
    max-width: 200px;
}
.goodieControls{
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}
.goodiePopup{
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #444545;
}
.goodiePopup > a{
    width: 80%;
    padding: 5px;
    background-color: #3A3335;
    border: #3A3335 solid 2px;
    border-radius: 8px;
}
.tovar{
    display: flex;
    flex-flow: column nowrap;
}
.imgview {
    position: relative;
    white-space: nowrap;
    overflow: visible;
    border-radius: 32px;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
    padding: 20px;
}
#imgview{
    overflow: hidden;
}
.imgview img{
    display: inline-block;
    max-height: 200px;
    max-width: 200px;
    vertical-align: middle;
}
.imgview i{
    color: #673ab7;
}
.imgview i:first-child{
    position: absolute;
    left: -15px;
    top:50%;
}
.imgview i:last-child{
    position: absolute;
    right: -20px;
    top:50%;
}
.userForm{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.userForm input{
    text-align: center;
    padding: 5px;
	background-color: white;
    width: 100%;
    margin-bottom: 5px;
}
.userForm input:invalid{
    border: 2px solid #e91e63;
}
.userForm input:valid{
    border: 2px solid #4caf50;
}
.userForm input:focus{
    outline: none;
}
.userForm input[type="button"], .userForm input[type="submit"]{
    border-radius: 0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
    border: 0;
}
.userForm label{
    display: none;
    color: #D81E5B;
}
.new{
    margin-bottom: 10px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}
.newBody h2{
    text-align: center;
}
.newBody h3{
    text-align: justify;
}
.newBody h3:last-child{
    text-align: right;
}
@media screen and (min-width: 375px){
    header{
        height: 100px;
    }
}
@media screen and (min-width: 425px) {
    header{
        height: 114px;
    }
}
@media screen and (min-width: 768px) {
    header{
        height: 206px;
    }
}
@media screen and (min-width: 2560px){
    header{
        height: 400px;
    }
}